  .select-info ul {
            margin-left: 5px;
        }

            .select-info ul li {
                cursor: pointer;
                float: left;
                height: 20px;
                line-height: 20px;
                list-style-type: none;
                margin-right: 10px;
                margin-top: 5px;
                padding: 2px 15px;
                text-align: center;
                font-size:14px;
            }

        .select-info li:hover {
            background-color: #dfecff;
        }

        .select-info li.current {
            color: #1ab394;
            font-weight: bold;
        }