@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Shared/_LayoutWeUI.cshtml";
}

<div class="weui_panel">
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_small_appmsg">
            <div class="weui_cells weui_cells_access">
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd" style="width:30px;">
                        <img src="~/images/center01.png" width="20">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的资料</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>

                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd" style="width:30px;">
                        <img src="~/images/center02.png" width="20">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>接种周期表</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>

                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd" style="width:30px;">
                        <img src="~/images/center03.png" width="20">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>会议信息</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>

                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd" style="width:30px;">
                        <img src="~/images/center04.png" width="20">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>消息提醒</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>


@*<ul class="cen-main clearfix">
    <li>
        <a href="/web/account/MyProfile" title="">
            <img src="/images/center01.png" alt="" title="" class="cen-img-one">
            <span class="cen-text">我的资料</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/CycleTimeTable" title="">
            <img src="/images/center02.png" alt="" title="" class="cen-img-two">
            <span class="cen-text">接种周期表</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/Meeting" title="">
            <img src="/images/center03.png" alt="" title="" class="cen-img-free">
            <span class="cen-text">会议信息</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/MessageTip" title="">
            <img src="/images/center04.png" alt="" title="" class="cen-img-four">
            <span class="cen-text">消息提醒</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/BindWeChart" title="">
            <img src="/images/center05.png" alt="" title="" class="cen-img-long">
            <span class="cen-text">绑定微信号</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/BindEmail" title="">
            <img src="/images/center06.png" alt="" title="" class="cen-img-six">
            <span class="cen-text">绑定邮箱号</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/UpdatePassword" title="">
            <img src="/images/center09.png" alt="" title="" class="cen-img-host">
            <span class="cen-text">修改密码</span>
            <i class="cen-trip"></i>
        </a>
    </li>
    <li>
        <a href="/web/account/Logout" title="">
            <img src="/images/center08.png" alt="" title="" class="cen-img-host">
            <span class="cen-text">退出登录</span>
            <i class="cen-trip"></i>
        </a>
    </li>
</ul>*@