@{
    ViewBag.Title = "忘记密码";
}

@section style{
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/content.css" rel="stylesheet" />
    <style>
        html, body {
            padding: 0;
            margin: 0;
            background-color: #efefef;
        }
    </style>
}

<div class="reg-main clearfix">
    <form method="post">
        <div class="reg-list">
            <i></i>
            <input type="text" placeholder="请输入邮箱地址" id="email">
            <em></em>
        </div>
        <a href="#" title="">
            <input value="发送邮件找回密码" class="reg-bottom" type="button" id="submit">
        </a>
    </form>
</div>
<div class="bottom un-deable">
    <span class="bottom-rac">地址：厦门市海沧区新园路130号</span>
    <p class="bottom-text">
        <span>电话：+86-592-6536555</span>
        <span>传真：+86-592-6536567</span>
    </p>
</div>

@section scripts{
    <script src="~/Content/js/flexible.js"></script>
<script type="text/javascript">
    function Check() {
        var email = $("#email").val();
        if (!IsEmpty(email)) {
            toastr.warning('请输入邮箱地址');
            return false;
        }

        if (!IsEmail(email)) {
            toastr.warning('请输入正确的邮箱地址');
            return false;
        }
        return true;
    }

    $(function () {
        $("#submit").click(function () {
            if (!Check())
                return;
            $.post("/web/account/ForgetPwd", { email: $("#email").val() }, function (result) {
                if (result.success)
                    toastr.warning('密码已发送到您的邮箱，请注意查收！');
            });
        });
    });
</script>

}

